/*
 *自定义样式
 */

body {
    font-family: 'Helvetica Neue','Helvetica','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC','WenQuanYi Micro Hei','Arial,sans-serif';
    background: #f7f8fa;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #2196f3;
}

a:focus {
    outline: none;
    text-decoration:none;
}

a:visited { 
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
    text-decoration:none;
}

button:visited {
    text-decoration: none;
}

button:hover {
    text-decoration: none;
}

.custom-title {
    color: rgb(15, 136, 235) !important;
    font-weight: bold;
    font-family: "YouYuan";
    font-size: 32px;
}

.custom-search-top {
    margin-top: 18px;
}

.custom-menu-mright {
    margin-right: 15px;
}

.custom-ask-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.custom-content-margin {
    margin-top: 70px;
}

.custom-content-margin60 {
    margin-top: 60px;
}

.custom-border {
    border: 1px solid #e6e6e6;
}

.custom-border-top {
    border-top: 1px solid #e6e6e6;
}

.custom-list-title {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin: 0 0 10px;
}

.custom-cleaner-setting {
    font-weight: 400;
    font-size: 13px;
}

.custom-cleaner-setting a {
    color: #999;
    font-weight: 400;
    text-decoration: none;
}

.custom-right {
    float: right;
}

.custom-avatar38 {
    height: 38px;
    width: 38px;
    border-radius: 3px;
}

.custom-avatar30 {
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.custom-avatar48 {
    height: 48px;
    width: 48px;
    border-radius: 3px;
}

.custom-avatar24 {
    height: 24px;
    width: 24px;
    border-radius: 3px;
}

.custom-avatar60 {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.custom-avatar68 {
    height: 68px;
    width: 68px;
    border-radius: 3px;
}

.custom-avatar94 {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-top: 10px;
}

.custom-avatar160 {
    height: 160px;
    width: 160px;
    border-radius: 5px;
}

.custom-padding-top10 {
    padding-top: 15px;
}

.custom-feed-source, .custom-feed-source a {
    color: #999;
    font-size: 15px;
    line-height: 1.7;
    text-decoration: none;
}

.custom-bull {
    padding: 0 3px;
    color: #BBB;
    font-family: Arial;
    font-size: 12px;
}

.custom-close {
    cursor: pointer;
}

.custom-media-heading {
    margin-top: 5px;
    margin-bottom: 5px;
    /*color: #175199;*/
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    outline: 0;
    line-height: 1.6;
    color: #1e1e1e;
}

.custom-name a {
    font-size: 15px;
    font-weight: 600;
    color: #666;
}

.custom-bio {
    font-size: 13px;
    line-height: 1.7;
}

.custom-edit-time {
    margin: 12px 0;
}

.custom-edit-time a {
    color: #8590a6;
    font-size: 14px;
    line-height: 1.7;
}

.custom-meta-panel {
    padding: 5px 0;
    margin-bottom: -5px;
}

.custom-meta-panel span{
    color: #8590a6;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
    margin-right: 5px;
}

.custom-meta-item {
    color: #8590a6;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
    margin-right: 5px;
}

.custom-meta-item:hover {
    color: #698ebf;
    text-decoration: none;
}

.custom-votebar {
    float: left;
    margin-top: 10px;
}

.custom-votebar .custom-up, .custom-votebar .custom-down {
    display: block;
    color: #2196f3;
    height: 24px;
    line-height: 24px;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    position: relative;
}

.custom-votebar .custom-up {
    padding-top: 18px;
    height: 44px; 
}

.custom-votebar .custom-up .custom-vote-arrow {
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #2196f3;
    border-top-style: solid;
}

.custom-votebar .custom-down {
    margin: 5px 0 0;
}

.custom-votebar .custom-down .custom-vote-arrow {
    border-bottom-width: 0;
    border-top-color: #2196f3;
}

.custom-votebar .custom-vote-arrow {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    font-size: 0;
    _border-style: dashed;
    background-image: none;
}

.custom-count {
    display: block;
}

.custom-item-vote {
    margin-top: 10px;
}

.custom-item-scan {
    margin-top: 4px;
}

.custom-item-vote-count {
    display: block;
    color: #2d84cc;
    height: 24px;
    line-height: 24px;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

.custom-group-item {
    border: 0;
    padding: 5px 5px;
    height: 40px;
    font-size: 15px;
    color: #8590a6 !important;
}

.custom-padding-left5 {
    padding-left: 5px;
}

.custom-list-group {
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #666;
}

.custom-margin-bottom10 {
    margin-bottom: 10px;
}

.custom-bottom-border {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.custom-list-group-title {
    /*padding: 0 5px;*/
    /*font-weight: 700;*/
    font-size: 15px;
}

.custom-footer {
    padding: 10px 0 10px 5px;
}

.custom-footer a {
    font-size: 13px;
    line-height: 2;
    color: #8590a6;
}

.custom-panel {
    margin-bottom: 0;
    margin-top: 10px;
}

.custom-panel-body {
    padding: 10px;
}

.custom-panel-body .custom-comment-name {
    font-weight: 600;
    color: #666;
    text-decoration: none;
}

.custom-time {
    color: #999;
    font-size: 13px;
    line-height: 1.7;
}

.custom-hover-card {
    color: #8590a6;    
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0 10px;
    padding: 7px 0;
    border-top: 1px solid #f0f2f7;
    border-bottom: 1px solid #f0f2f7;
}

.custom-hover-card-divider {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background: #e7eaf1;
}

.custom-margin-left10 {
    margin-left: 10px;
}

.custom-margin-top10 {
    margin-top: 10px;
}

.custom-button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}

.custom-number-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.custom-number-board a {
    text-decoration: none;
}

.custom-number-board-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.custom-button-plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.NumberBoard-itemInner {
    text-align: center;
    line-height: 1.6;
}

.custom-number-board-name {
    font-size: 14px;
    line-height: 20px;
    color: #8590a6;
}

.custom-number-board-value {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #9fadc7;
}

.custom-hovercard-btn {
    margin-left: 18%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-hovercard-btn2 {
    text-align: center;
    /*margin-left: 18%;*/
    margin-top: 15px;
    margin-bottom: 10px;
}

.custom-margin-right30 {
    margin-right: 30px;
}

.custom-display-none {
    display: none;
}

.custom-modal-size {
    width: 400px;
    max-height: 236px;
    min-height: 140px;
}

.custom-margin-left45 {
    margin-left: 45px;
}

.custom-left {
    float: left;
}

.custom-backtotop {
    position: fixed;
    bottom: 113px;
    right: 50px;
    z-index: 19;
    /*margin-left: 310px;*/
}

.custom-backtotop .custom-btn-action {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.custom-backtotop .custom-arrow {
    width: 0;
    height: 0;
    top: -1px;
    border: 9px solid transparent;
    border-bottom-color: #aaa;
}

.custom-backtotop .custom-stick {
    width: 8px;
    height: 14px;
    top: 15px;
    border-radius: 1px;
    background-color: #aaa;
}

.custom-backtotop .custom-arrow, .custom-backtotop .custom-stick {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.custom-question-title {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #1e1e1e;
}

.custom-question-rich-text {
    font-size: 15px;
    line-height: 25px;
}

.custom-margin-top20 {
    margin-top:20px;
}

.custom-margin-top30 {
    margin-top: 30px;
}

.custom-margin-top40 {
    margin-top: 40px;
}

.custom-list-title {
    padding: 0 5px;
    font-weight: 500;
    font-size: 15px;
    color: #262626;
}

.custom-similar-question {
    margin-left: 5px;
    font-size: 15px;
    line-height: 21px;
    color: #8590a6;
}

.custom-padding-top10 {
    padding-top: 10px;
}

.custom-padding-left5 {
    padding-left: 5px;
}

.custom-similar-question a {
    font-size: 14px;
    display: inline;
    color: #175199;
}

.custom-collapse-item {
    display: inline;
}

.custom-profile-card {
    margin-top: 40px;
}

.custom-profile-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
}

.custom-profile-text {
    margin-left: 12px;
    font-size: 18px;
    white-space: nowrap;
}

.custom-profile-info {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}

.custom-question-topic {
    margin: 3px 5px 3px 0;
    vertical-align: middle;
}

.custom-tag {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #0084ff;
    vertical-align: top;
    border-radius: 100px;
    background: rgba(0,132,255,.1);
}

.custom-margin-top5 {
    margin-top: 5px;
}

.custom-item-link {
    color: #999 !important;
    font-weight: 400;
    font-size: 12px;
}

.custom-hot-collect {
    padding: 5px;

}

.custom-meta-link {
    color: #259;
    font-size: 13px;
}

.custom-topic-content {
    margin: 0 15px 15px;
}

.custom-topic-name {
    margin-left: 10px;
    color: #555;
    font-weight: 700;
    font-size: 16px;
    max-width: 40%;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-margin-bottom20 {
    margin-bottom: 20px;
}

.custom-switcher a {

    font-size: 12px;
}

.custom-switcher a.custom-current {
    color: #999;
    cursor: text;
}

.custom-topic-item {
    margin-right: 3px;
}

.custom-other-topic {
    margin: 10px 0 10px;
}

.custom-tab-border {
    border-bottom: 1px solid #ddd !important;
}

.custom-margin-right5 {
    margin-right: 5px;
}

.custom-form-padding {
    padding-top: 7px;
}

.custom-margin-right10 {
    margin-right: 10px;
}

.custom-col-padding {
    padding-left: 15px;
}

.custom-filter-card {
    float: left;
    margin: 0 2px 2px 0;
    padding: .8em;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 0 #f2f4f5;
    box-sizing: border-box;
}

.custom-filter-card img {
    float: left;
}

.custom-grey {
    color: #999;
    font-size: 13px;
}

.custom-darker {
    color: #666;
    font-size: 13px;
}

.custom-msg-btn {
    margin: 15px 5px 20px;
}

.custom-input-size {
    width: 70%;
}

.custom-navbar a {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    color: #8590a6 !important;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-brand {
    height: 30px;
    padding-top: 20px;
}

.navbar {
    min-height: 50px;
}

.custom-user-info {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.custom-nav-icon {
    font-size: 20px;
    color: #9fadc7 !important; 
}

.custom-card {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}

.custom-color-9f {
    color: #9fadc7;
}

.custom-top-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 58px;
    padding: 0 20px;
}

.custom-top-header-navItem {
    display: inline-block;
    transition: color .2s ease-in;
    font-size: 16px;
    color: #262626;
    margin-right: 40px;
}

.custom-top-header-navItem-right {
    color: #8590a6;
    font-size: 15px;
    transition: color .2s ease-in;
}

.custom-story-item {
    position: relative;
    padding: 16px 20px;
}

.custom-badge {
    border-radius: 3px;
    background: #f7f8fa;
    color: #8590a6;
}

.custom-question-header {
    padding: 20px 20px;
}

.custom-question-footer {
    margin: 10px 0 10px;
}

.custom-question-footer-right {
    text-align: right;
}

.custom-question-footer-right a {
    margin: 0 4px;
}

a.custom-question-more {
    display: block;
    line-height: 50px;
    color: #8590a6;
    text-align: center;
}

.custom-question-more {
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 0;
}

.custom-log-detail {
    border-left: 3px solid #DDD;
    padding: 5px 10px;
    margin: 5px 0;
}

del {
    text-decoration: line-through;
    padding: 3px 0;
    background: #f5dfdf;
    color: #ac1414;
}

ins {
    text-decoration: none;
    padding: 3px 0;
    background: #EAF0DD;
    color: #5B7918;
}

.webui-popover {
    border: 0 !important;
}

.custom-tab-width {
    width: 33.3%;
}

.custom-tab-width2 {
    width: 100%;
}

.custom-tab-width3 {
    width: 14.28%;
}

.custom-tab-width a {
    text-align: center;
    color: #c2cfde;
}

.custom-notifications-list {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-nushNotifications-item {
    position: relative;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #262626;
    border-bottom: 1px solid #ebeef5;
}

.custom-nushNotifications-newItem {
    background: #f4f8fb;
}

.custom-notifications-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #ebeef5;
    box-sizing: border-box;
}

.custom-footer-item {
    color: #8590a6;
}

.custom-tab-center {
    text-align: center;
}

.custom-padding-bottom10 {
    padding-bottom: 10px;
}

.custom-answer-info {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.custom-card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}

.custom-card-headerText {
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-notification-item {
    position: relative;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 16px;
    color: #262626;
}

.custom-notification-item+.custom-notification-item {
    border-top: 1px dashed #ebeef5;
}

.custom-notification-more {
    position: relative;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 16px;
    color: #262626;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.custom-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.custom-btn:focus, .custom-btn:hover {
    text-decoration: none;
}

.custom-btn:focus, .custom-btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}

.custom-btn.disabled, .custom-btn:disabled {
    opacity: .65;
}

.custom-btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
    background-image: none;
}




.btn-outline-primary {
    color: #2FA4E7;
    background-color: transparent;
    background-image: none;
    border-color: #2FA4E7;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2FA4E7;
    background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.5);
}


.QuestionFollowStatus-counts {
    width: 200px;
    margin-left: auto;
}

.NumberBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.NumberBoard-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.NumberBoard-name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #8590a6;
}
.NumberBoard-value {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #262626;
}
.NumberBoard-divider {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border-right: 1px solid #f0f2f7;
}

.custom-sidebar-padding {
    padding-left: 0;
}

.error-wrapper {
    margin: 169px auto 0;
    width: 404px;
}

.error-title {
    color: #444;
    font-weight: bold;
    font-family: "YouYuan";
    font-size: 32px;
}

.error-header {
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0 0 .33em .33em;
}

.error-content {
    padding: 2em 1.25em;
    border: 1px solid #babbbc;
    border-radius: 5px;
    background: #f7f7f7;
    text-align: center;
}

.custom-editor {
    min-height: 282px;
}

.custom-editor-header {
    display: flex;
    padding: 16px 20px;
}

.custom-author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-author-avatar {
    vertical-align: top;
}

.custom-author-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 14px;
    overflow: hidden;
    margin-top: 5px;
}

.custom-author-content-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.custom-author-content-detail {
    overflow: hidden;
}

.custom-author-name {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
}

.custom-author-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    font-size: 14px;
}

.custom-author-bio {
    margin-right: 6px;
    color: #646464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-topic-bios {
    font-size: 14px;
    color: #8590a6;
    white-space: nowrap;
}

.custom-toggle-anonymous {
    margin-left: auto;
    padding-left: 12px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
}

.custom-answer-footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
    padding: 12px 24px;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.custom-answer-status {
    font-size: 14px;
    color: #8590a6;
}

.custom-answer-delete {
    margin-right: 12px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
}

.custom-answer-right {
    transition: opacity .3s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-drop-option {
    position: relative;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
}
.custom-drop-option a {
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
}

.custom-feed-item {
    position: relative;
    padding: 16px 20px;
}

.custom-feed-item-right {
    position: absolute;
    top: 12px;
    right: 16px;
    /*opacity: 0;*/
    transition: opacity .3s;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
}

.custom-feed-src-status, .custom-feed-src-status a {
    margin-bottom: 8px;
    color: #8590a6;
}

.custom-feed-src-info {
    margin-bottom: 14px;
}

.custom-feed-author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-author-info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
}

.custom-author-info-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.custom-author-info-head a {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
}

.custom-author-info-detail {
    overflow: hidden;
    margin-left: 10px;
}

.custom-author-badge-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
}

.custom-contentItem-title, .custom-contentItem-title a {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}

.custom-contentItem-title2, .custom-contentItem-title2 a {
    font-size: 18px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: 4px;
}

.custom-rich-content {
    line-height: 1.67;
}

.custom-answerItem-extraInfo {
    margin-top: 10px;
    margin-bottom: -4px;
    font-size: 14px;
    color: #8590a6;
}

.custom-voters, .custom-voters a{
    color: #8590a6;
}

.custom-rich-content-inner {
    margin-top: 9px;
    margin-bottom: -4px;
    overflow: hidden;
}

.custom-contentItem-time, .custom-contentItem-time a {
    margin-top: 10px;
    font-size: 14px;
    color: #8590a6;
}

.custom-contentItem-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
    clear: both;
}

.custom-vote-btn {
    line-height: 30px;
    border-radius: 3px;
    padding: 0 12px;
    color: #0084ff;
    background: rgba(0,132,255,.1);
    border-color: transparent;
}

.custom-contentItem-action {
    margin-left: 24px;
    font-size: 14px;
}

.custom-btn-plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;

    font-size: 14px;
    /*line-height: 32px;*/
    color: #8590a6;
    text-align: center;
    cursor: pointer;
}

.custom-btn-plain:hover {
    color: #77839c;
}

.custom-drop-option2 {
    position: relative;
    display: inline-block;
    margin-left: 24px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
}

.custom-drop-option2 a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
}

.custom-contentItem-right {
    margin-left: auto;
}

.custom-contentItem-more:hover {
    color: gray;
}

.custom.custom-comments-container {
    height: 100%;
}

.custom-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-comments-withPagination {
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #fff;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px;
}

.custom-comments-topbar {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-radius: 2px;
}

.custom-comments-topbar-title h2 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    font-synthesis: style;
    color: #1a1a1a;
}

.custom-comment-list {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: visible;
}

.custom-comment-item {
    outline: none;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 12px 20px 10px;
    font-size: 15px;
    /*border-bottom: 1px solid #f6f6f6;*/
}

.custom-comment-item+.custom-comment-item {
    border-top: 1px solid #f6f6f6;
}

.custom-commentItem-meta {
    position: relative;
    height: 27px;
    padding-right: 3px;
    padding-left: 1px;
    margin-bottom: 5px;
    line-height: 24px;
}

.custom-commentItem-time {
    float: right;
    font-size: 14px;
    color: #8590a6;
}

.custom-commentItem-avatar {
    margin-right: 8px;
    vertical-align: top;
}

.custom-comment-userLink {
    color: black;
}

.custom-commentItem-content {
    margin-bottom: 6px;
    line-height: 25px;
}

.custom-commentItem-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}

.custom-margin-right20 {
    margin-right: 20px;
}

.custom-comment-list-divider {
    position: relative;
    margin: 0 24px;
    font-size: 14px;
    color: #8590a6;
    text-align: center;
}

.custom-comment-list-dividerLine {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    margin: auto;
    border-top: 1px solid #ebebeb;
}

.custom-comment-list-dividerText {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 1em;
    background-color: #fff;
}

.custom-comments-footer {
    padding: 12px 20px;
    background: #fff;
    border-top: 1px solid #f6f6f6;
}

.custom-comments-editor {
    position: relative;
    transition: padding-right .3s ease;
}

.custom-comment-list-action {
    position: relative;
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid #f6f6f6;
}

.custom-comment-list-collapse {
    color: #8590a6;
    cursor: pointer;
}

.custom-pagination {
    width: 100%;
    padding: 16px 20px;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #f6f6f6;
}

.custom-pagination-btn {
    color: #1a1a1a;
    transition: color .2s;
    padding: 0 15px;
}

.custom-btn-disabled {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-pagination-btn-current {
    color: #8590a6;
    cursor: default;
    opacity: .5;
    pointer-events: none;
}

.custom-question-headers {
    position: relative;
    /*min-width: 1032px;*/
    padding: 16px 0;
    overflow: hidden;
    background: #fff;
    /*box-shadow: 0 1px 3px rgba(26,26,26,.1);*/
}

.custom-question-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*width: 1000px;*/
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.custom-question-header-main {
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;
}

.custom-question-header-tags, .custom-question-header-topics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-question-header-topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: -5px;
    padding: 1px 0;
}

.custom-question-header-title {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 32px;
    color: #1a1a1a;
}

.custom-question-header-detail {
    min-height: 10px;
}

.custom-question-header-side {
    width: 30%;
    padding-right: 20px;
    text-align: right;
}

.custom-question-header-footer {
    padding-bottom: 12px;
    margin-top: 4px;
    margin-bottom: -12px;
    background: #fff;
}

.custom-question-header-footer-inner, .custom-question-header-footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-question-header-footer-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*width: 1000px;*/
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.custom-question-header-main {
    padding-left: 20px;
    box-sizing: border-box;
}

.custom-question-header-footer-main {
    margin-top: 4px;
    min-width: 694px;
    width: auto;
}

.custom-question-btn-group {
    display: inline-block;
    margin: 0 -8px;
}

.custom-question-btn-group+.custom-question-header-actions {
    margin-left: 16px;
}

.custom-question-header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-card-section {
    padding: 16px 20px;
    position: relative;
}

.custom-card-section+.custom-card-section {
    border-top: 1px solid #f6f6f6;
}

.custom-answer-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-answer-author-avatar {
    margin-right: 12px;
}

.custom-answer-author-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.custom-answer-author-name, .custom-answer-author-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-answer-author-name {
    font-size: 20px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 30px;
    color: #1a1a1a;
}

.custom-answer-author-headline {
    font-size: 14px;
    line-height: 20px;
}

.custom-answer-author-item+.custom-answer-author-item {
    margin-top: 12px;
}

.custom-answer-author-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 24px;
}

.custom-answer-author-itemIcon {
    display: inline-block;
    width: 16px;
    margin-right: 8px;
    text-align: center;
    color: #8590a6;
}

.custom-answer-author-itemValue, .custom-answer-author-itemValue a {
    font-size: 14px;
    line-height: 24px;
    color: #8590a6;
}

.custom-answer-counts {
    font-size: 14px;
    text-align: center;
}

.custom-answer-author-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
}

.custom-answer-author-btns .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.custom-member-btn-group .btn+.btn {
    margin-left: 16px;
}

.custom-icon-color-verification {
    color: #0f88eb;
}

.custom-icon-color-certificate {
    color: #FF9500;
}

.custom-similar-question-item {
    font-size: 14px;
    line-height: 21px;
    color: #8590a6;
}

.custom-similar-question-item a {
    display: inline;
    color: #175199;
}

.custom-user-cover {
    position: relative;
    height: 240px;
    overflow: hidden;
    background: #f6f6f6;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    transition: height .3s;
}

.custom-color-block {
    height: 132px;
    background: #999;
}

.custom-profileHeader-userWrapper {
    position: relative;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.custom-profileHeader-main {
    position: relative;
    margin: 0 20px 24px;
}

.custom-user-avatar {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 8px;
}

.custom-user-avatar-inner {
    vertical-align: top;
}

.custom-profileHeader-avatar {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1;
}

.custom-profileHeader-content {
    padding-top: 16px;
    padding-left: 32px;
    border-left: 164px solid transparent;
}

.custom-profileHeader-contentHead {
    position: relative;
    padding-right: 106px;
    margin-bottom: 16px;
}

.custom-profileHeader-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-profileHeader-name {
    font-size: 26px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 30px;
}

.custom-profileHeader-headline {
    margin-left: 12px;
    font-size: 18px;
    white-space: nowrap;
    word-break: break-all;
}

.custom-profileHeader-contentBody {
    position: relative;
    /*width: 524px;*/
    overflow: hidden;
}

.custom-profileHeader-info {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}

.custom-profileHeader-infoItem:not(:last-child) {
    margin-bottom: 10px;
}

.custom-profileHeader-infoItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-profileHeader-iconWrapper {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    text-align: center;
    color: #8590a6;
}

.custom-profileHeader-divider {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background: #ebebeb;
}

.custom-profileHeader-footer {
    position: relative;
    padding-top: 8px;
}

.custom-profileHeader-btns {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn--grey {
    color: #8590a6;
    border-color: #8590a6;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #c2cfde;
    text-align: center;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
     -webkit-box-shadow: inset 0 -1px 0 transparent;
     box-shadow: inset 0 -1px 0 transparent;
}

.custom-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}

.custom-list-headerText {
    margin: 0;
    font-weight: 600;
    font-synthesis: style;
}

.custom-list-headerOptions {
    font-size: 14px;
}

.custom-profile-sideColumn {
    color: #646464;
}

.custom-profile-sideColumnItems {
    padding: 12px 0;
}

.custom-profile-sideColumnItem {
    padding: 6px 20px;
}

.custom-icon-graf {
    margin-bottom: 0px;
}

.custom-icon-graf-wrapper {
    display: inline-block;
    width: 28px;
}

.custom-sidebar-color {
    color: #646464;
}

.custom-profile-sideColumnItemValue {
    margin-top: 6px;
    margin-left: 29px;
    font-size: 14px;
    color: #8590a6;
}

.custom-center {
    margin: 0 auto;
}

.custom-feed-item+.custom-feed-item {
    border-top: 1px solid #eee;
}

.custom-font-size15 {
    font-size: 15px;
}

.custom-font-size14 {
    font-size: 14px;
}

.custom-result-sort {
    position: relative;
    display: inline-block;
}

.custom-search-actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.Select-plainButton {
    padding: 0;
    border: 1px solid transparent;
}
.Select-button {
    height: 40px;
    padding: 0 20px;
    line-height: 38px;
    text-align: left;
    box-sizing: border-box;
    background: none;
    outline: none;
}

.custom-list-item {
    position: relative;
    padding: 16px 20px;
}

.custom-list-contentItem {
    padding: 20px;
}

.custom-contentItem-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-contentItem-image {
    float: left;
    margin-right: 16px;
}

.custom-contentItem-head {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-right: 6px;
}

.custom-contentItem-title {
    font-size: 16px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}

.custom-columnItem-meta {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-searchItem-type {
    display: inline-block;
    white-space: nowrap;
    padding: 1px 4px;
    background: #ebebeb;
    color: #8590a6;
    font-size: 13px;
    font-weight: 400;
    border-radius: 4px;
    margin-left: 8px;
}

.custom-contentItem-meta {
    font-size: 15px;
    color: #646464;
    margin-top: 6px;
}

.custom-searchItem-meta {
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-contentItem-status {
    margin-top: 5px;
    color: #8590a6;
    font-size: 14px;
}

.custom-contentItem-status a {
    margin-top: 5px;
    color: #8590a6;
    font-size: 14px;
}

.custom-searchItem-statusLink, .custom-searchItem-statusLink a {
    font-size: 14px;
    color: #8590a6;
}

.custom-search-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
}

.custom-contentItem-extra {
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-top: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.custom-list-item+.custom-list-item:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 20px;
    display: block;
    border-bottom: 1px solid #f6f6f6;
    content: "";
}

.custom-topSearch-items {
    padding: 8px 16px;
}

.custom-topSearch-item {
    margin: 6px 0;
    overflow: hidden;
}

.custom-topSearch-itemLink {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 21px;
    width: 100%;
    overflow: hidden;
}

.custom-setting-section {
    /*margin-top: 10px;*/
    border-bottom: 1px solid #eee;
}

.custom-setting-item {
    padding: 10px 20px;
    width: 100%;
}

.custom-settings-item-title {
    width: 65px;
    text-align: left;
    float: left;
}

.custom-align-bottom {
    margin-bottom: 0;
    padding-top: 7px;
}

.custom-edit-btn {
    color: #999;
    display: inline-block;
    font-size: 11px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    padding: 0 5px 0 2px;
    margin: 0 0 0 5px;
}

.custom-margin-right2 {
    margin-right: 2px;
}

.custom-input-width {
    width: 250px;
    display: inline-block;
}

.custom-margin-left20 {
    margin-left: 20px;
}

.custom-margin-bottom30 {
    margin-bottom: 30px;
}

.custom-settings-section-desc {
    color: #999;
    margin: 5px 0 0;
}

.custom-setting-tag {
    margin: 15px 8px 15px 0;
}

.custom-filter-item {
    width: 26%;
    display: inline-block;
    margin: 10px 5px 10px;
}

.custom-filter-section {
    padding: 16px 20px;
    position: relative;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
}

#favorite_list label{
    width: 100%;
}

.custom-favor-list {
    margin: 0 20px 0;
}

.custom-email-modal {
    width: 80%;
    margin: auto;
}

.custom-column-info {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
}

.custom-column-sectionTitle {
    font-weight: 600;
    font-synthesis: style;
    font-size: 16px;
    line-height: 1.375;
    padding: 13px 20px;
}

.custom-article-bg {
    background: #fff !important;
}

.custom-post-title {
    font-weight: 600;
    font-synthesis: style;
    font-size: 24px;
    line-height: 1.22;
    margin: 24px 0;
}

.custom-post-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-post-author .custom-post-authorInfo {
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
     white-space: nowrap;
     overflow: hidden;
 }

.custom-post-authorInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-authorInfo-avatar {
    vertical-align: top;
    border-radius: 50%;
}

.custom-post-authorInfo-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 14px;
    overflow: hidden;
}

.custom-post-authorInfo-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.custom-post-authorInfo-name {
    font-weight: 600;
    font-synthesis: style;
    color: #444;
}

.custom-post-authorInfo-detail {
    color: #646464;
    overflow: hidden;
}

.custom-authorInfo-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    font-size: 14px;
}

.custom-authorInfo-badgeText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
}

.custom-post-voters {
    display: block;
    margin: 14px 0 16px;
    font-size: 14px;
    color: #8590a6;
}

.custom-post-richText {
    margin: 20px auto 0;
    font-size: 16px;
    line-height: 1.8;
    color: #1a1a1a;
}

.custom-postItem-time a {
    font-size: 14px;
    color: #8590a6;
    padding: 16px 0;
}

.custom-reward {
    text-align: center;
    font-size: 14px;
}

.custom-reward-tagline {
    margin-top: 60px;
    line-height: 18px;
    font-size: 15px;
}

.custom-reward-btn {
    color: #fff;
    background: #f36;
    width: 80px;
    height: 34px;
    border-radius: 4px;
    margin-top: 27px;
}

.custom-reward-countZero {
    margin-top: 20px;
}

.custom-post-topicsAndReviewer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-topicList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-post-topics {
    margin-bottom: -10px;
    padding: 16px 0;
}

.custom-topicList .custom-topic:not(:last-child) {
    margin-right: 5px;
}

.custom-post-index {
    padding-top: 30px;
    overflow: hidden;
}

.custom-block-title {
    font-weight: 600;
    font-synthesis: style;
    line-height: 1.375;
    font-size: 16px;
    color: #1a1a1a;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-top: 40px;
}

.custom-comments-container2 {
    margin: 20px 0 30px;
}

.custom-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-writeCover-wrapper {
    background: #f7f8f9;
    line-height: 192px;
    color: gray;
    min-height: 192px;
    text-align: center;
}

.custom-writeCover-previewWrapper {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.custom-writeCover-uploadInput {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.custom-answers-none {
    padding: 80px 0;
}

.custom-empty-state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}

.custom-empty-state-inner {
    font-size: 15px;
    color: #8590a6;
    text-align: center;
}

.custom-question-invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.custom-top-bar {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.custom-top-bar-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.custom-invitation-title {
    font-size: 16px;
    font-weight: 600;
    font-synthesis: style;
}

.custom-invitation-input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    /*border: 1px solid #ebebeb;*/
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s,border .2s;
}

.custom-invitation-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-invitation-content .custom-contentItem-title a {
    font-size: 15px;
    line-height: 1.6;
}

.custom-invitation-more {
    width: 100%;
    text-align: center;
}

.custom-invitation-more a {
    font-size: 15px;
    color: #8590a6;
    text-align: center;
}

.custom-topicBio-title {
    color: #1a1a1a;
    text-align: center;
}

.custom-topicBio-subtitle {
    padding: 0 38px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    text-align: center;
}

.custom-topicBio-items {
    padding: 16px 20px;
}

.custom-topicBioItems-title {
    margin-bottom: 8px;
    color: #8590a6;
}

.custom-checkItem-box {
    position: relative;
    padding: 12px;
    border: 1px solid #2196f3;
    border-radius: 3px;
    transition: border-color .2s ease-out;
}

.custom-checkItem-inner {
    max-width: calc(100% - 28px);
}

.custom-topicBio-itemText {
    word-break: normal;
    line-height: 1.6;
    margin-right: 5px;
}

.custom-author-info-content2 {
    align-items: center;
    margin-left: 10px;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
}

.custom-author-info-detail2 {
    overflow: hidden;
}

.custom-check-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #0084ff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-topicBio-addBtn {
    height: 48px;
    padding: 0 12px;
    text-align: left;
    border: 1px solid #2196f3;
    border-radius: 3px;
}

.custom-btn-spread {
    width: 100%;
}

.custom-topicBio-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-topicBio-item:not(:first-child) {
    margin-top: 16px;
}

.custom-center-btn {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}

.custom-align-center {
    text-align: center;
}

.custom-answer-setting {
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
}

.custom-answerItem-menu {
    font-size: 14px;
    color: #8590a6;
}

.custom-answerItem-selectMenuItem {
    position: relative;
    /*padding-left: 44px;*/
    line-height: 40px;
}

.custom-menu-item {
    display: block;
    width: 100%;
    /*padding: 0 20px;*/
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
}

.custom-menu-divider {
    margin: 8px 0;
    border-bottom: 1px solid #ebebeb;
    list-style-type: none;
}

.custom-check-margin {
    margin-top: 13px;
}

.custom-searchNoContent-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.custom-searchNoContent-content {
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-searchNoContent-title {
    margin-top: 70px;
    font-size: 24px;
    margin-bottom: 32px;
}

.custom-searchNoContent-input {
    height: 40px;
    background-color: #f6f6f6;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-contentItem-rightBtn {
    /*position: absolute;*/
    z-index: 1;
    bottom: 75px;
    left: 0;
    width: 100%;
    color: #175199;
    font-size: 15px;
    margin-left: auto;
}

.custom-rich-content .custom-is-collapsed {
    position: relative;
    transition: max-height .32s cubic-bezier(.95,.05,.795,.035),-webkit-mask-size .22s cubic-bezier(.95,.05,.795,.035);
    transition: mask-size .22s cubic-bezier(.95,.05,.795,.035),max-height .32s cubic-bezier(.95,.05,.795,.035);
    transition: mask-size .22s cubic-bezier(.95,.05,.795,.035),max-height .32s cubic-bezier(.95,.05,.795,.035),-webkit-mask-size .22s cubic-bezier(.95,.05,.795,.035);
    -webkit-mask-image: linear-gradient(#1a1a1a calc(100% - 8rem),transparent calc(100% - 2.8rem));
    mask-image: linear-gradient(#1a1a1a calc(100% - 8rem),transparent calc(100% - 2.8rem));
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.custom-sticky .custom-is-fixed {
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.custom-question-comment {
    width: 90%;
    display: inline;
    float: left;
}

.question-comments-disableText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 12px;
    color: #8590a6;
    background-color: #f6f6f6;
    border-top: 1px solid #f6f6f6;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.custom-commentItem-reply {
    margin-right: 8px;
    margin-left: 8px;
    color: #8590a6;
}