html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f7fafc;
    font-family:  'Helvetica Neue', Helvetica, 'Microsoft YaHei',Arial,sans-serif;
}

a {
    color: #0f88eb;
    text-decoration: none;
}

canvas {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

.cent-box {
    width: 300px;
    height: 420px;
    vertical-align: middle;
    white-space: normal;
    position: absolute;
    left:0;
    top:-20%;
    right:0;
    bottom: 0;
    margin: auto;
}

.cent-box-header {
    text-align: center;
}


.hide {
    display: none;
}

.cent-box-header .main-title {
    width: 160px;
    height: 74px;
    margin: 0 auto;
    background: url('../images/logo/logo.png') no-repeat;
    background-size: contain;
}

.cent-box-header .sub-title {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}

.clearfix:before {
    content: '';
    display: table;
}

.index-tab {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.index-tab .index-slide-nav {
    display: inline-block;
    position: relative;
}

.index-tab .index-slide-nav a {
    float: left;
    width: 4em;
    line-height: 35px;
    text-decoration:none;
    opacity: 0.7;
    -webkit-transition: opacity .15s,color .15s;
    transition: opacity .15s,color .15s;
    color: #555;
}

.index-tab .index-slide-nav a:hover {
    color: #0f88eb;
    opacity: 1;
}

.index-tab .index-slide-nav a.active {
    opacity: 1;
    color: #0f88eb;
}

.slide-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 .8em;
    width: 2.4em;
    height: 2px;
    background: #0f88eb;
}
.slide-bar-left{
    left: 4em;
}

.form {
    float: none;
    margin: auto;
    text-align: left;
    width: 300px;
}

.form .group {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.form .group .group-ipt {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.form .group .group-ipt input {
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: rgba(255,255,255,0.5);
    font-family: 'Microsoft Yahei';
    color: #666;
    outline:none;
    position: relative;
}

#signIn_password, #signIn_captcha, #signUp_password, #signUn_captcha, #email {
    border-top: 1px solid #e8e8e8;
}

.button {
    margin-top:18px;
}

._btn {
    width: 100%;
    background: #0f88eb;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #fff;
    display: block;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Microsoft Yahei';
}

._btn:hover {
    background: #80c3f7;
}

.remember {
    margin-top: 10px;
    line-height: 30px;
}

.remember label {
    display: block;
}

.remember-me {
    font-size: 14px;
    float: left;
    position: relative;
    cursor: pointer;
}

.icon {
    width: 11px;
    height: 11px;
    display: block;
    border: 1px solid #ccc;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
    cursor: pointer;
}

.selected {
    width: 9px;
    height: 9px;
    background: #0f88eb;
    margin: 1px;
    display: block;
}

.remember-me-check {
    position: absolute;
    left: 0;
    top: 8px;
    opacity: 0;
    cursor: pointer;
}

.forgot-password {
    float: right;
    font-size: 14px;
}

.forgot-password a {
    color: #555;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #999;
    z-index: 2;
    padding-bottom: 10px;
    font-size: 13px;
}

.footer a {
    color: #999;
    text-decoration: none;
}


label.error.is-visible, label.captcha-error.is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

label.error {
    position: absolute;
    top: 1px;
    right: 8px;
    padding: 0 8px;
    line-height: 45px;
    font-size: 13.333px;
    color: #c33;
    cursor: text;
    background: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 8px);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff 8px);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}

label.captcha-error {
    position: absolute;
    top: 1px;
    right: 108px;
    padding: 0 8px;
    line-height: 45px;
    font-size: 13.333px;
    color: #c33;
    cursor: text;
    background: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 8px);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff 8px);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}

.agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
}

.signup-entry-org {
    display: inline-block;
    margin-top: 11px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #0f88eb;
}

.app-download {
    margin-top: 21px;
    position: relative;
    z-index: 11;
}

.app-toggleButton {
    display: block;
    padding: 0;
    width: 100%;
    height: 41px;
    line-height: 39px;
    color: #5fa6e5;
    background: 0 0;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
}

.app-toggleButtonText {
    margin-left: 2px;
}

.signin-misc-wrapper {
    margin-top: 18px;
}

.signin-switch-button {
    padding: 0;
    font-size: 14px;
    color: #5ca5e8;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.unable-login {
    float: right;
    font-size: 14px;
    color: #555;
}

.sms-verification {
    border-top: 1px solid #e8e8e8;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[name="sms-code"], #signIn_captcha_code, #signUp_captcha_code {
    width: 200px !important;
}

.send-code {
    float: right;
    width: 98px;
    padding: 1em 8px;
    line-height: 19px;
    color: #5ca5eb;
    /*background: #fff;*/
    background: rgba(255,255,255,0.5);
    border: 0;
    cursor: pointer;
    outline: 0;
    border-left: 1px solid #e8e8e8;
}

.captcha-img-wrapper {
    float: right;
    width: 97px;
    height: 44px;
    background: rgba(255,255,255,0.5);
    border: 0;
    cursor: pointer;
    outline: 0;
    border-left: 1px solid #e8e8e8;
}

.captcha-img {
    margin: 5px 8px;
}