<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页 - 编乎</title>
    <meta name="description" content="一个真实的网络瞎编社区，帮助你寻找答案，分享知识。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../resources/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../resources/css/custom.css">
    <link rel="stylesheet" href="../resources/css/font-awesome.min.css">
</head>
<body>
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- navbar title -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand custom-title">编乎</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- navbar component auto collapse -->
            <div class="navbar-collapse collapse" id="navbar-main">

                <!-- search -->
                <form class="navbar-form navbar-left custom-search-top" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" size="30" placeholder="搜索你感兴趣的内容...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <!-- navbar left -->
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">话题</a>
                    </li>
                    <li>
                        <a href="#">发现</a>
                    </li>
                    <li>
                        <a href="#">消息</a>
                    </li>
                </ul>

                <!-- navbar right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-primary btn-sm navbar-btn custom-ask-btn">提问</button>
                    </li>   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Ellery
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#"><i class="fa fa-user-o custom-menu-mright "></i> 我的主页</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-o custom-menu-mright"></i> 私信</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cog custom-menu-mright"></i> 设置</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-power-off custom-menu-mright"></i> 退出</a>
                            </li>
                        </ul>
                    </li>
                </ul><!-- end navbar right -->
            </div>
        </div>
    </div><!-- navbar -->

    <!-- main content -->
    <div class="container">
        <div class="row custom-content-margin">
            <div class="col-sm-8">
                <!-- media list title -->
                <div class="custom-list-title">
                    <i class="fa fa-list-ul"></i> 最新动态
                    <span class="custom-cleaner-setting custom-right">
                        <a href="#">
                            <i class="fa fa-cog"></i> 设置
                        </a>
                    </span>
                </div>

                <!-- left main feed -->
                <ul class="media-list">
                    <li class="media custom-boder-top custom-padding-top10">
                        <div class="media-left media-top">

                            <!-- avatar image -->
                            <a href="#">
                              <img class="media-object custom-avatar38" src="../resources/images/avatar/a.jpg" alt="...">
                            </a>

                            <!-- votebar -->
                            <div class="custom-votebar">
                                <button class="custom-up" title="赞同">
                                    <i class="fa fa-caret-up custom-vote-arrow"></i> 
                                    <span class="custom-count">122</span>
                                </button>
                                <button class="custom-down" title="反对，不会显示你的姓名">
                                    <i class="fa fa-caret-down custom-vote-arrow"></i>
                                </button>
                            </div>
                        </div>
                        <div class="media-body">
                            <!-- agree with article -->
                            <!-- <div class="custom-feed-source">
                                <a href="#">Ellery</a>
                                赞了
                                <a href="#">ABC</a>
                                中的文章
                                <span class="custom-bull">•</span>
                                <span>57分钟前</span>
                                <span class="custom-close custom-right"><i class="fa fa-times"></i></span>
                            </div> -->

                            <!-- agree with answer  -->
                            <div class="custom-feed-source">
                                <a href="#">Ellery</a>
                                赞同了回答

                                <!-- collect article -->
                                <!-- 关注了问题 -->

                                <!-- collect article -->
                                <!-- 关注了问题 -->
                                <!-- collect answer -->
                                <!-- 收藏了回答 -->

                                <!-- collect article -->
                                <!-- 收藏了文章 -->

                                <span class="custom-bull">•</span>
                                <span>57分钟前</span>
                                <span class="custom-close custom-right"><i class="fa fa-times"></i></span>
                            </div>

                            <!-- question title -->
                            <a href="#">
                                <h5 class="media-heading custom-media-heading">
                                    当你迷茫的时候，你应该做些什么？
                                </h5>
                            </a>

                            <!-- author info -->
                            <div class="custom-name">
                                <a href="#" class="">Ellery</a>
                                ，
                                <span class="custom-bio">中央处理器 (CPU)</span>
                            </div>

                            <!-- answer content -->
                            <div>Abstract interpretation: a unified lattice model for static analysis of programs by construction or approximation of fixpoints，P. Cousot & R. Cousot 1977
                            Automatic discovery of linear restraints among variables of a program，P. Cousot & N. Halbwachs 1978
                            Systematic design of program analysis frameworks， P. Cousot & R. Cousot 1979
                            </div>

                            <!-- answer date -->
                            <p class="custom-edit-time">
                                <a href="#">编辑于 12:23</a>
                            </p>

                            <!-- feed meta -->
                            <div class="custom-meta-panel">
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-plus"></i> 
                                    关注问题
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-comment"></i> 
                                    添加评论
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-heart"></i> 
                                    感谢
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-paper-plane"></i> 
                                    分享
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-star"></i> 
                                    收藏
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    没有帮助
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    举报
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    作者保留权利
                                </a>
                                <a href="#" class="custom-meta-item custom-right"> 
                                    <i class="fa fa-chevron-circle-up"></i> 
                                    收起
                                </a>
                            </div>

                            <!-- comment -->
                            <div class="panel panel-default custom-panel">
                                <div class="panel-body custom-panel-body">
                                    <ul class="media-list">
                                        <li class="media custom-bottom-border">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object custom-avatar24" src="../resources/images/avatar/a.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="custom-comment-name">
                                                    Ellery
                                                </a>
                                                <span class="custom-time custom-right">4小时前</span>
                                                <div>
                                                    Abstract interpretation: a unified lattice model for static analysis of programs by construction or approximation of fixpoints，
                                                </div>

                                                <!-- feed meta -->
                                                <div class="custom-meta-panel custom-bottom-border">
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-thumbs-up"></i> 
                                                        赞
                                                    </a>
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-share"></i> 
                                                        回复
                                                    </a>
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-thumbs-down"></i> 
                                                        踩
                                                    </a>
                                                    <a href="#" class="custom-meta-item"> 
                                                        <i class="fa fa-flag"></i> 
                                                        举报
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media custom-bottom-border">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object custom-avatar24" src="../resources/images/avatar/a.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="custom-comment-name">
                                                    Ellery
                                                </a>
                                                <span class="custom-time custom-right">4小时前</span>
                                                <div>
                                                    Abstract interpretation: a unified lattice model for static analysis of programs by construction or a pp ro ximation of fixpoints，
                                                </div>

                                                <!-- feed meta -->
                                                <div class="custom-meta-panel">
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-thumbs-up"></i> 
                                                        赞
                                                    </a>
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-share"></i> 
                                                        回复
                                                    </a>
                                                    <a href="#" class="custom-meta-item">
                                                        <i class="fa fa-thumbs-down"></i> 
                                                        踩
                                                    </a>
                                                    <a href="#" class="custom-meta-item"> 
                                                        <i class="fa fa-flag"></i> 
                                                        举报
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="写下你的评论……">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">回复</button>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- end comment -->
                        </div>
                    </li>
                    <li class="media custom-boder-top custom-padding-top10">
                        <div class="media-left media-top">
                            <a href="#">
                              <img class="media-object custom-avatar38" src="../resources/images/avatar/a.jpg" alt="...">
                            </a>
                            <div class="custom-item-vote">
                                <a class="custom-item-vote-count js-expand js-vote-count" href="javascript:;">100</a>
                            </div>
                        </div>
                        <div class="media-body">

                            <!-- agree with answer  -->
                            <div class="custom-feed-source">
                                <a href="#">Ellery</a>
                                <!-- collect article -->
                                关注了问题
                                <span class="custom-bull">•</span>
                                <span>57分钟前</span>
                                <span class="custom-close custom-right"><i class="fa fa-times"></i></span>
                            </div>

                            <a href="#">
                                <h5 class="media-heading custom-media-heading">
                                    当你迷茫的时候，你应该做些什么？
                                </h5>
                            </a>

                            <div class="custom-meta-panel">
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-plus"></i> 
                                    关注问题
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-comment"></i> 
                                    添加评论
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-heart"></i> 
                                    感谢
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-paper-plane"></i> 
                                    分享
                                </a>
                                <a href="#" class="custom-meta-item">
                                    <i class="fa fa-star"></i> 
                                    收藏
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    没有帮助
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    举报
                                </a>
                                <span class="custom-bull">•</span>
                                <a href="#" class="custom-meta-item"> 
                                    作者保留权利
                                </a>
                                <a href="#" class="custom-meta-item custom-right"> 
                                    <i class="fa fa-chevron-circle-up"></i> 
                                    收起
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <a href="#" class="btn btn-default btn-md btn-block">加载更多</a>
                    </li>
                </ul><!-- end left main feed -->
            </div>

            <!-- sidebar -->
            <div class="col-sm-3 col-sm-offset-1">
                <div class="list-group custom-margin-bottom10">
                    <a href="#" class="list-group-item custom-group-item">
                        <span class="badge">8</span>
                        <i class="fa fa-bookmark-o"></i> 我的收藏
                    </a>
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-check-square-o"></i> 我关注的问题
                    </a>
                    <a href="#" class="list-group-item custom-group-item">
                        <span class="badge">13</span>
                        <i class="fa fa-file-o"></i> 邀请我回答的问题
                    </a>
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-map-o"></i> 我的礼券
                    </a>
                </div>
                <div class="list-group custom-list-group custom-margin-bottom10">
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-list"></i> 公共编辑动态
                    </a>
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-home"></i> 社区服务中心
                    </a>
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-copyright"></i> 版权服务中心
                    </a>
                </div>
                <div class="list-group custom-list-group custom-margin-bottom10">
                    <div class="custom-list-group-title">知乎专栏</div>
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-book"></i> 专栏 • 发现
                    </a>
                </div>
                <div class="list-group custom-list-group custom-margin-bottom10 custom-bottom-border">
                    <a href="#" class="list-group-item custom-group-item">
                        <i class="fa fa-cloud-download"></i> 下载 APP
                    </a>
                </div>
                <div class="custom-footer">
                    <a href="#" target="_blank">编乎指南 • </a>
                    <a href="#" target="_blank">建议反馈 • </a>
                    <a href="#" target="_blank">移动应用 • </a>
                    <a href="#" target="_blank">加入编乎</a>
                    <a href="#" target="_blank">编乎协议 • </a>
                    <a href="#" target="_blank">举报投诉 • </a>
                    <a href="#" target="_blank">联系我们</a><br/>
                    <a href="#" target="_blank">&copy;2017</a>
                </div>
            </div><!-- end sidebar -->
        </div>
    </div>

    <script type="text/javascript" src='../resources/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='../resources/js/bootstrap.min.js'></script>
</body>
</html>